<ion-view title="Cadastro" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="cadastro-form1" class="list">
      <label class="item item-input" id="cadastro-input1">
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input" id="cadastro-input2">
        <input type="email" placeholder="E-mail">
      </label>
      <label class="item item-input" id="cadastro-input3">
        <input type="number" placeholder="OAB">
      </label>
      <label class="item item-input" id="cadastro-input4">
        <input type="number" placeholder="CPF">
      </label>
      <label class="item item-input" id="cadastro-input19">
        <input type="text" placeholder="Rua">
      </label>
      <label class="item item-input" id="cadastro-input20">
        <input type="number" placeholder="Numero">
      </label>
      <label class="item item-input" id="cadastro-input21">
        <input type="text" placeholder="Complemento">
      </label>
      <label class="item item-input" id="cadastro-input22">
        <input type="text" placeholder="Bairro">
      </label>
      <label class="item item-input" id="cadastro-input23">
        <input type="text" placeholder="Cidade">
      </label>
      <label class="item item-input" id="cadastro-input24">
        <input type="text" placeholder="Estado">
      </label>
      <label class="item item-input" id="cadastro-input42">
        <input type="number" placeholder="CEP">
      </label>
      <label class="item item-input" id="cadastro-input26">
        <input type="number" placeholder="Cartâo de Credito">
      </label>
      <label class="item item-input" id="cadastro-input28">
        <input type="number" placeholder="Numero de Segurança">
      </label>
      <label class="item item-input" id="cadastro-input27">
        <span class="input-label">Data de Vencimento do Cartão</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input5">
        <input type="password" placeholder="Senha">
      </label>
    </form>
    <div id="cadastro-button-bar2" class="button-bar">
      <a ui-sref="page1()" id="cadastro-button9" class="button button-assertive button-block">Voltar</a>
      <button id="cadastro-button10" class="button button-light button-block"></button>
      <a ui-sref="page1()" id="cadastro-button11" class="button button-balanced button-block">Ok!</a>
    </div>
  </ion-content>
</ion-view>