<ion-view title="Cadastro Cliente" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="cadastroCliente-form7" class="list">
      <label class="item item-input" id="cadastroCliente-input29">
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input" id="cadastroCliente-input30">
        <input type="number" placeholder="CPF">
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div id="cadastroCliente-button-bar4" class="button-bar">
      <a ui-sref="menu()" id="cadastroCliente-button18" class="button button-positive button-block">Voltar</a>
      <a ui-sref="confirmaO()" id="cadastroCliente-button19" class="button button-balanced button-block">Positivo</a>
      <a ui-sref="verificar()" id="cadastroCliente-button20" class="button button-assertive button-block">Negativo</a>
    </div>
  </ion-content>
</ion-view>