<ion-view title="Cartorios em São Paulo" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="cartoriosEmSOPaulo-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">1° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA SÉ Cartório da Sé Av. Rangel Pestana, 271/273 - Centro - Tel.: 3105-6401</p>

      <p style="color:#000000;">2° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA LIBERDADE Registro Civil da Liberdade Rua Tamandaré, 768 - Liberdade - Tel.: 3208-7897</p>

      <p style="color:#000000;">3° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA PENHA DE FRANÇA Cartório da Penha de França Trav. Nossa Senhora da Penha, 24 - Penha - Tel.: 2097-9333</p>

      <p style="color:#000000;">4° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE NOSSA SENHORA DO Ó Cartório da Freguesia do Ó Rua Martins Herédia, 443/455 - Freguesia do Ó - Tel.: 3931-2820</p>

      <p style="color:#000000;">5° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE SANTA EFIGÊNIA Registro Civil de Santa Efigênia Av. Senador Queirós, 101/ 1º andar - Centro - Tel.: 3228-3071</p>

      <p style="color:#000000;">6° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO BRÁS Cartório de Registro Civil do Brás Rua Casemiro de Abreu, 586 - Brás - Tel.: 2693-0871</p>

      <p style="color:#000000;">7° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA CONSOLAÇÃO Cartório do 7º Registro Civil de Consolação Av. Angélica, 2.188 - Consolação - Tel.: 3881-4555</p>

      <p style="color:#000000;">8° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE SANTANA Cartório do Registro Civil de Santana Rua Amaral Gama, 102 - Santana - Tel.: 2979-4042</p>

      <p style="color:#000000;">9° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE VILA MARIANA Cartório do Registro Civil de Vila Mariana Pça. Oswaldo Cruz, 39 - Paraíso - Tel.: 3885-3469</p>

      <p style="color:#000000;">10° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE BELENZINHO Cartório do Belenzinho Rua Silva Jardim, 86 - Belenzinho - Tel.: 2695-9133</p>

      <p style="color:#000000;">11° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE SANTA CECÍLIA Cartório de Santa Cecília Rua Conselheiro Brotero, 879 - Barra Funda - Tel.: 3667-2642</p>

      <p style="color:#000000;">12° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO CAMBUCI Cartório do Cambuci Rua Albuquerque Maranhão, 106 - Cambuci - Tel.: 3275-4840</p>

      <p style="color:#000000;">13° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO BUTANTÃ Cartório do Butantã Rua Pirajussara, 432 - Butantã - Tel.: 3819-1188</p>

      <p style="color:#000000;">14° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA LAPA Cartório do 14º Subdistrito - Lapa Pça. Prof. José de Azevedo Antunes, 45 - Lapa - Tel.: 3836-5050</p>

      <p style="color:#000000;">15° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO BOM RETIRO Cartório do Bom Retiro Rua Prates, 539 - Bom Retiro - Tel.: 3326-6899</p>

      <p style="color:#000000;">16° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA MOÓCA Cartório da Moóca Rua Visconde de Laguna, 28 - Moóca - Tel.: 3804-2169 17° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA BELA VISTA</p>

      <p style="color:#000000;">17º Registro Civil Bela Vista Av. Brigadeiro Luiz Antônio, 1702 - Bela Vista - Tel.: 3284-9000</p>

      <p style="color:#000000;">18° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO IPIRANGA Cartório do Ipiranga Rua Bom Pastor, 499 - Ipiranga - Tel.: 2063-4581</p>

      <p style="color:#000000;">19° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DAS PERDIZES 18º Cartório de Registro Civil Rua Turiassu, 433 - Perdizes - Tel.: 3862-9209 </p>

      <p style="color:#000000;">20° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO JARDIM AMÉRICA Cartório do Jardim América Rua Henrique Schaumann, 518 - Pinheiros - Tel.: 3081-9388</p>

      <p style="color:#000000;">21° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA SAÚDE Cartório da Saúde Av. Jabaquara, 1535 - Saúde - Tel.: 5585-9822</p>

      <p style="color:#000000;">22° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO TUCURUVI Cartório do Tucuruvi Av. Nova Cantareira, 1438 - Tucuruvi - Tel.: 2953-0125</p>

      <p style="color:#000000;">23° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA CASA VERDE Cartório do Registro Civil de Casa Verde Av. Baruel, 294 - Casa Verde - Tel.: 3966-0062</p>

      <p style="color:#000000;">24° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE INDIANÓPOLIS 24º Cartório de Registro Civil Av. João Castaldi, 679 - Moema - Tel.: 5543-1519</p>

      <p style="color:#000000;">25° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO PARI Oficial do Registro Civil das Pessoas Naturais do 25º Subdistrito de Pari Rua Hannemann, 148 - Canindé - Tel.: 3313-4676</p>

      <p style="color:#000000;">26° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE VILA PRUDENTE Cartório de Vila Prudente Rua do Orfanato, 340 - V. Prudente - Tel.: 2271-3300</p>

      <p style="color:#000000;">27° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO TATUAPÉ Cartório do Tatuapé Rua Coronel Luiz Americano, 228 - Tatuapé - Tel.: 2093-0580</p>

      <p style="color:#000000;">28° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO JARDIM PAULISTA Cartório do Jardim Paulista Rua Comendador Miguel Calfat, 70 - V. Olímpia - Tel.: 3845-8424</p>

      <p style="color:#000000;">29° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE SANTO AMARO Cartório Santo Amaro Av. Santo Amaro, 6635 - Santo Amaro - Tel.: 5545-3166</p>

      <p style="color:#000000;">30° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO IBIRAPUERA Registro Civil e Tabelionato do Ibirapuera Av. Pe. Antônio José dos Santos, 1568/1572 - Brooklin - Tel.: 5506-5744</p>

      <p style="color:#000000;">31° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE PIRITUBA Cartório de Pirituba Av. Mutinga, 201 - Pirituba - Tel.: 3904-6035</p>

      <p style="color:#000000;">32° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE CAPELA DO SOCORRO Cartório Capela do Socorro Rua Olívia Guedes Penteado, 94 - Socorro - Tel.: 5546-3232</p>

      <p style="color:#000000;">33° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO ALTO DA MOÓCA 33° Cartório Rua da Moóca, 3878 - Moóca - Tel.: 6601-2909</p>

      <p style="color:#000000;">34° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE CERQUEIRA CÉSAR Cartório Cerqueira César Rua Frei Caneca, 371 - Cerqueira César - Tel.: 3171-1433</p>

      <p style="color:#000000;">35° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA BARRA FUNDA Cartório da Barra Funda Rua Barra Funda, 452 - Barra Funda - Tel.: 3825-4912</p>

      <p style="color:#000000;">36° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE VILA MARIA 36° Registro Civil Rua Profª Maria José Barone Fernandes, 651 - V. Maria - Tel.: 2967-4987</p>

      <p style="color:#000000;">37° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DA ACLIMAÇÃO Cartório da Aclimação Rua Pires da Mota, 984 - Aclimação - Tel.: 3209-9690</p>

      <p style="color:#000000;">38° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE VILA MATILDE Cartório de Vila Matilde Rua Dr. José Paulo, 104/106 - V. Matilde - Tel.: 2651-9959</p>

      <p style="color:#000000;">39° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE VILA MADALENA 39° Cartório Av. Brigadeiro Faria Lima, 1675 - Jd. Paulistano - Tel.: 3816-7700</p>

      <p style="color:#000000;">40° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE VILA BRASILÂNDIA Cartório da Brasilândia Av. Cantídio Sampaio, 1457 - V. Brasilândia - Tel.: 3859-5533</p>

      <p style="color:#000000;">41° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE CANGAÍBA Cartório de Cangaíba Av. Cangaíba, 950 - Cangaíba - Tel.: 2641-8309</p>

      <p style="color:#000000;">42° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO JABAQUARA Cartório de Jabaquara Av. Fagundes Filho, 276 - Jabaquara - Tel.: 2275-0330</p>

      <p style="color:#000000;">44° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DO LIMÃO Registro Civil do 44º Subdistrito da Capital-Limão Av. Mandaqui, 98 - Bairro do Limão - Tel.: 3858-5461</p>

      <p style="color:#000000;">46° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE VILA FORMOSA Cartório de Vila Formosa Av. Dr. Eduardo Cotching, 1649 - V. Formosa - Tel.: 2674-7501</p>

      <p style="color:#000000;">47° CARTÓRIO DE REGISTRO CIVIL - SUBDISTRITO DE VILA GUILHERME Cartório de Vila Guilherme Av. General Ataliba Leonel, 1498 - V. Guilherme - Tel.: 2976-7686</p>
    </div>
    <a ui-sref="menu()" id="cartoriosEmSOPaulo-button25" class="button button-positive button-block">Menu</a>
  </ion-content>
</ion-view>