<ion-view title="Cliente Negativado" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="clienteNegativado-form8" class="list">
      <label class="item item-input" id="clienteNegativado-input31">
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input" id="clienteNegativado-input32">
        <input type="number" placeholder="CPF">
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div id="clienteNegativado-button-bar5" class="button-bar">
      <a ui-sref="menu()" id="clienteNegativado-button23" class="button button-positive button-block">Voltar</a>
      <a ui-sref="confirmaO()" id="clienteNegativado-button24" class="button button-balanced button-block">Positivar</a>
    </div>
  </ion-content>
</ion-view>