<ion-view title="Confirmação" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="confirmaO-form11" class="list">
      <label class="item item-input" id="confirmaO-input37">
        <input type="number" placeholder="OAB">
      </label>
    </form>
    <form id="confirmaO-form12" class="list">
      <label class="item item-input" id="confirmaO-input38">
        <input type="password" placeholder="Senha">
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div id="confirmaO-button-bar7" class="button-bar">
      <a ui-sref="concluido()" id="confirmaO-button29" class="button button-balanced button-block">OK!</a>
    </div>
  </ion-content>
</ion-view>