<ion-view title="Consulta" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="consulta-form10" class="list">
      <label class="item item-input" id="consulta-input35">
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input" id="consulta-input36">
        <input type="number" placeholder="CPF">
      </label>
    </form>
    <a ui-sref="clienteNegativado()" id="consulta-button33" class="button button-positive button-block">Consultar</a>
  </ion-content>
</ion-view>