<ion-view title="Menu" id="page3">
  <ion-content padding="true" class="has-header">
    <a ui-sref="cadastroCliente()" id="menu-button21" class="button button-positive button-block">Cadastro Cliente</a>
    <a ui-sref="consulta()" id="menu-button22" class="button button-positive button-block">Consulta</a>
    <a ui-sref="cartoriosEmSOPaulo()" id="menu-button34" class="button button-positive button-block">Cartórios de São Paulo</a>
    <a ui-sref="news()" id="menu-button35" class="button button-positive button-block">News</a>
    <button id="menu-button37" class="button button-positive button-block">Vagas e Estágios</button>
  </ion-content>
</ion-view>