<ion-view title="News" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="news-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">8 NOV</p>

      <p style="color:#000000;">“Não aceitaremos retrocessos que retirem a autonomia dos advogados públicos”, diz Lamachia</p>

      <p style="color:#000000;">8 NOV</p>

      <p style="color:#000000;">STJ: Regra para cálculo da renda mensal inicial de benefício previdenciário é tema de repetitivo</p>

      <p style="color:#000000;">8 NOV</p>

      <p style="color:#000000;">Ação de prestação de contas pode ser utilizada para apuração de saldo de vendas de consórcio</p>

      <p style="color:#000000;">8 NOV</p>

      <p style="color:#000000;">Cláusulas de impenhorabilidade ou incomunicabilidade não impedem alienação de bem doado</p>

      <p style="color:#000000;">8 NOV</p>

      <p style="color:#000000;">Jogador Dudu é condenado a pagar R$ 25 mil por agredir árbitro na final do Campeonato Paulista em 2015</p>

      <p style="color:#000000;">8 NOV</p>

      <p style="color:#000000;">Microempresa consegue reduzir condenação de R$ 1 milhão por acidente de trabalho</p>

      <p style="color:#000000;">8 NOV</p>

      <p style="color:#000000;">Auxiliar de creche não receberá adicional por troca de fraldas</p>

      <p style="color:#000000;">8 NOV</p>

      <p style="color:#000000;">Laboratório vai responder por acidente de trânsito sofrido por motoboy</p>
    </div>
    <a ui-sref="menu()" id="news-button28" class="button button-positive button-block">Menu</a>
  </ion-content>
</ion-view>