<ion-view title="" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/4uQ99KI9QMqg3vyaggHP_advPlus.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 12px;"></div>
    <form id="page1-form4" class="list">
      <label class="item item-input" id="page1-input8">
        <input type="text" placeholder="OAB">
      </label>
    </form>
    <div class="spacer" style="height: 12px;"></div>
    <form id="page1-form5" class="list">
      <label class="item item-input" id="page1-input9">
        <input type="password" placeholder="Senha">
      </label>
    </form>
    <a ui-sref="menu()" id="page1-button1" class="button button-balanced button-block">Entrar</a>
    <a ui-sref="cadastro()" id="page1-button2" class="button button-positive button-block">Cadastro</a>
  </ion-content>
</ion-view>