<ion-view title="Verificar" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="verificar-heading1" style="color:#000000;">Negativar Cliente?</h1>
    <div class="spacer" style="height: 100px;"></div>
    <div id="verificar-button-bar6" class="button-bar">
      <a ui-sref="menu()" id="verificar-button26" class="button button-assertive button-block">Cancelar</a>
      <a ui-sref="confirmaO()" id="verificar-button27" class="button button-balanced button-block">Confirmar</a>
    </div>
  </ion-content>
</ion-view>