<ion-view title="Verificar" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="verificar2-heading3" style="color:#000000;">Positivar Cliente?</h1>
    <div class="spacer" style="height: 100px;"></div>
    <div id="verificar2-button-bar8" class="button-bar">
      <a ui-sref="menu()" id="verificar2-button30" class="button button-assertive button-block">Cancelar</a>
      <a ui-sref="confirmaO()" id="verificar2-button31" class="button button-balanced button-block">Confirmar</a>
    </div>
  </ion-content>
</ion-view>